$box-shadow-button: 0 1.5rem 4.5rem 0 rgba(0,0,0,0.6), 0 .2rem .3rem 0 rgba(0,0,0,0.5);


.btn{
  height: 4.4rem;
  width: 25.4rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1.1rem 1.8rem;
  margin: 1.0rem;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: "Montserrat", "Helvetica", "sans-serif";
  transition: all .3s;

  &:hover{
    opacity: 1;
    transform: translateY(-.1rem) scale(1.01);
    box-shadow: 0 1.5rem 4.5rem 0 rgba(0,0,0,0.6), 0 .2rem .3rem 0 rgba(0,0,0,0.5);;
    &::after{
    transform: scaleX(1.4) scaleX(1.8);
    opacity: 0;
    }
  }
  &--white{
  background-color: white;
  color: black;
  }
  &--banner{
   position: absolute;
  right: 10rem;
}
}



