
.card{
  height: 33.2rem;
  width: 27rem;
  background-color: #FFFFFF;
  box-shadow: 0 1.5rem 5.5rem 0 rgba(0,0,0,0.04), 0 .2rem .4rem 0 rgba(0,0,0,0.3);
  position: relative;
  margin-bottom: 4rem;
}

.card__image{
  height: 27.1rem;
  width: 27.1rem;
  position: absolute;
  top: 0;
  left: 0;
  img{
   width: 27.1rem;
  }
}


.card__footer{
  position: absolute;
  height: 6.1rem;
  width: 100%;
  bottom: 0px;
  left: 0;
  text-align: center;
   h4{
    line-height: 0.8;
  }
}

.card__footer--info{
  text-transform: uppercase;
  font-weight: Thin;
  color: #777;
}

.card__footer--price{
  font-weight: 200;
  transform: translateY(-.4rem)
}
