/* Main navbar */
.navbar{
  background: white;
  transition: all 0.3s ease;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar__logo-box{
  width: 20rem;
  min-width: 8.2rem;
  margin: 0;
  padding: 0px;
}
.navbar__logo img {
  height: 6.4rem;
}
/* spaces */
.space10{
  width: 10%;
}

/* middle section */
.navbar__item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  h5{
    margin-left: .8rem;
  }
}

.navbar--center{
  margin: 0 auto;
  width: 50rem;
  display: block;
  height: 8rem
}

.navbar--center--up{
  height: 70%;
}

.navbar--center--down{
  height: 30%;
}
.navbar__taxonomy--major{
  border-color: red;
  width: 10rem;
}

.MUJER{
  width: auto;
  display: flex;
  margin-left: .5rem;
}

.HOMBRE{
  width: auto;
  display: flex;
  margin-left: 10.5rem;
}

.NIÑOS{
  width: auto;
  display: flex;
  margin-left: 20.6rem;
}

.REGALOS{
   width: auto;
  display: flex;
  margin-left: 30.6rem;
}

.NOSOTROS{
  width: auto;
  display: flex;
  margin-left: 40.6rem;
  h5{
    white-space: no-wrap;
  }
}

.subtaxons{
  display: none;
}

.active{
  display: flex !important;
}

.navbar--right{
   div{
    margin-top: 1rem;
    height: 5.8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  width: 20rem;
  min-width: 8.2rem;
  margin: 0;
}



/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 2rem;
}

/* Navbar link */
.navbar__link {
  color: #616668;
  font-size: 1.4rem;
}
.navbar__link:hover {
  color: #da552f;
  text-decoration: none;
}

