/* Main navbar */
.navbar{
  background: white;
  transition: all 0.3s ease;
  height: 8rem;
  position: relative;
  align-items: center;
  justify-content: space-between;
  color: black;


  /* Logo */

  &__logo-box{
  width: 16rem;
  margin: 0;
  padding: 0px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);


    &__image {
    height: 6.4rem;
    }
  }


  &--center{
    margin: 0 auto;
    width: 50rem;
    height: 8rem;
    top: 50%;
    transform: translateY(-0.9rem);

  }

  &--right{
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    align-items: center;
    width: 16rem;
    justify-content: space-between;
    transform: translateY(-50%);
    &__icon{
      font-size: 1.6rem;
      &:first-child{
        margin-top: 7px;
      }
    }
}

.taxonomies-list{
  position: relative;

    &__taxonomy{
      width: 10rem;


      &__major{
        text-transform: uppercase;
      }

      &__subtaxons{
        h5{
          margin: .5rem;
        }
      }
    }

    &__n1{
      position: absolute;
      left: 0;
      top: 0;
      &:hover .mujer{
       display: flex;
      }
    }
    &__n2{
      position: absolute;
      left: 10rem;
      top: 0;
      &:hover .hombre{
       display: flex;
      }
    }
    &__n3{
      position: absolute;
      left: 20rem;
      top: 0;
      &:hover .niños{
       display: flex;
      }
    }
    &__n4{
      position: absolute;
      left: 30rem;
      top: 0;
      &:hover .regalos{
       display: flex;
      }
    }
    &__n5{
      position: absolute;
      left: 40rem;
      top: 0;
      &:hover .nosotros{
       display: flex;
      }
    }
  }


}


.mujer{
  display: none;
}

.hombre{
  display: none;
}

.niños{
  display: none;
}

.regalos{
    display: none;
}

.nosotros{
  display: none;
  h5{
    white-space: nowrap;
  }
}



.active{
  display: flex !important;
}





