// Define variables for your color scheme


// For example:
$red: #E95262;
$blue: #58C4FF;
$yellow: #FFFC8A;
$orange: #FD9B75;
$green:  #77E89C;
$gray: #7E7B7B;
$light-gray: #F9FAFD;
$purple: #875DF5;
$color-black: black;

$box-shadow-card: 0 1.5rem 5.5rem 0 rgba(0,0,0,0.04), 0 .2rem .4rem 0 rgba(0,0,0,0.3);
$box-shadow-button: 0 1.5rem 4.5rem 0 rgba(0,0,0,0.6), 0 .2rem .3rem 0 rgba(0,0,0,0.5);
