// Define variables for your color scheme


// For example:
$red: #E95262;
$blue: #58C4FF;
$yellow: #FFFC8A;
$orange: #FD9B75;
$green:  #77E89C;
$gray: #7E7B7B;
$light-gray: #F9FAFD;
$purple: #875DF5;

