<div class="featured">
  <div class="featured__row">

      <div class="square-card square-card--text">
        <div class="heading-secondary">
          <h2 class="heading-secondary--main">
            visita nuestra tienda
          </h2>
          <p class="heading-secondary--sub">
            José Marcos Garzón llegó a Formentera en 1985 buscando un lugar de paz, y se enamoró de la isla. Como muchos otros hippies que poblaban la isla en el momento buscó volver a unos métodos de producción más artesanales. Desde su puesto callejero la gente estaba impresionada por la originalidad y el estilo de sus diseños.
          </p>
          <br>
          <span class="padding-2">
          <p class="heading-secondary--sub">
            Porto Saler, 6 • Sant Francesc Xavier • Formentera •
          </p>
          </span>
        </div>
      </div>
      <div class="square-card">
        <%= link_to "#" do %>
          <%= image_tag "jose.jpg", class: "square-card__picture"%>
        <% end %>
      </div>

  </div>

  <div class="featured__row">

      <div class="square-card">
        hello
      </div>
      <div class="square-card">
        hello
      </div>

  </div>
</div>
